{% extends "seu_estoque_pessoal/base.html" %}
{% load static %}
{% block content-head %}
    <link rel="stylesheet" href="{% static 'css/cadastro-produto.css' %}">
{% endblock %}

{%block nav-display%}
<div class="display-menu">
    <span class="material-icons">
        sell
    </span>
    <p>Editar produto</p>
</div>
{%endblock%}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form id="cadastro-form" action="" method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="enviar">
</form>
<script src="{% static 'js/form-toggle.js' %}"></script>
{%endblock%}