{% extends "seu_estoque_pessoal/base.html" %}
{% load static %}
{% block content-head %}
    <link rel="stylesheet" href="{% static 'css/estoque-categoria.css' %}">
{% endblock %}

{%block nav-display%}
<div class="display-menu">
    <span class="material-icons">
        category
    </span>
    <p>Estoque Categoria</p>
</div>
{%endblock%}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form id="estoque-form" method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="enviar">
</form>

{%if produtos%}
<div class="total-info">
    <h3>Informações totais da categoria: </h3>
    <p class="g-1-1">Quantidade total de produtos</p>
    <p class="g-1-2">Total em R$ de custo em estoque</p>
    <p class="g-1-3">Total em R$ de lucro bruto</p>
    <p class="g-2-1">{{infos_totais.quantidade}}</p>
    <p class="g-2-2">R$ {{infos_totais.custo_total}}</p>
    <p class="g-2-3">R$ {{infos_totais.lucro_bruto}}</p>
    <!-- <ul class="total-label">
    </ul>
    <ul class="total-info">
    </ul> -->
</div>
<div class="list">
    {%for produto in produtos%}
    <div class="product">
        <ul class="label">
            <li>
                Produto
            </li>
            <li>
                Categoria
            </li>
            <li>
                Fornecedor
            </li>
            <li>
                Quantidade
            </li>
            <li>
                Preço custo
            </li>
            <li>
                Preço Venda
            </li>
        </ul>
        <ul class="info">
            <li>
                {{produto.nome}}
            </li>
            <li>
                {{produto.categoria.nome}}
            </li>
            <li>
                {{produto.fornecedor.nome}}
            </li>
            <li>
                {{produto.quantidade}}
            </li>
            <li id="money-display">
                R$ {{produto.preco_custo}}
            </li>
            <li id="money-display">
                R$ {{produto.preco_venda}}
            </li>
        </ul>
        <a class="edit-info" href="">Editar informações</a>
    </div>
{%endfor%}
</div>
    <div class="pagination-list">
        <p>mostrando X de Y produtos</p>
        <a class="previous-page" href="">
            <span class="material-icons">
                arrow_back_ios
            </span>
        </a>
        <a class="next-page" href="">
            <span class="material-icons">
                arrow_forward_ios
            </span>
        </a>
    </div>
{%endif%}
{%if sem_produtos%}
<div class="alert-message">
    <h2>Sem produtos cadastrados para essa categoria</h2>
</div>
{%endif%}
{%endblock%}