{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/menu-toggle.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/estoque-geral.css' %}">
    <title>Inicio</title>
</head>
<body>
    <nav>
        <div id="open-menu" class="btn-menu">
            <span class="material-icons">
                menu
            </span>
        </div>
        <div class="display-menu">
            <span class="material-icons">
                inventory_2
            </span>
            <p>Estoque geral</p>
        </div>
    </nav>
    <div id="side-menu" class="side-menu">
        <ul>
            <li id="close-menu">
                <span class="material-icons">
                    close
                </span>
                <p>Fechar</p>
            </li>
            <li>
                <span class="material-icons">
                    inventory_2
                </span>
                <a href="">Estoque geral</a>
            </li>
            <li>
                <span class="material-icons">
                    category
                </span>
                <a href="">Estoque por categoria</a>
            </li>
            <li>
                <span class="material-icons">
                    corporate_fare
                </span>
                <a href="">Estoque por fornecedor</a>
            </li>
            <li>
                <span class="material-icons">
                    sell
                </span>
                <a href="">Cadastrar produto</a>
            </li>
            <li>
                <span class="material-icons">
                    post_add
                </span>
                <a href="">Cadastrar categoria</a>
            </li>
            <li>
                <span class="material-icons">
                    domain_add
                </span>
                <a href="">Cadastrar fornecedor</a>
            </li>
            
        </ul>
    </div>
    <section>
        <div class="filters">
            <div id="sort">
                <span class="material-icons">
                    filter_list
                </span>
                <p>Ordenar</p>
                <span class="material-icons">
                    arrow_drop_down
                </span>
            </div>
            <div id="filter">
                <span class="material-icons">
                    tune
                </span>
                <p>Filtrar</p>
                <span class="material-icons">
                    arrow_drop_down
                </span>
            </div>
        </div>
        <div class="list">
            <div class="product">
                <ul class="label">
                    <li>
                        Produto
                    </li>
                    <li>
                        Categoria
                    </li>
                    <li>
                        Fornecedor
                    </li>
                    <li>
                        Quantidade
                    </li>
                    <li>
                        Preço custo
                    </li>
                    <li>
                        Preço Venda
                    </li>
                </ul>
                <ul class="info">
                    <li>
                        Natura homem
                    </li>
                    <li>
                        Perfume
                    </li>
                    <li>
                        Natura
                    </li>
                    <li>
                        1
                    </li>
                    <li id="money-display">
                        100
                    </li>
                    <li id="money-display">
                        135
                    </li>
                </ul>
                <a class="edit-info" href="">Editar informações</a>
            </div>
            <div class="product">
                <ul class="label">
                    <li>
                        Produto
                    </li>
                    <li>
                        Categoria
                    </li>
                    <li>
                        Fornecedor
                    </li>
                    <li>
                        Quantidade
                    </li>
                    <li>
                        Preço custo
                    </li>
                    <li>
                        Preço Venda
                    </li>
                </ul>
                <ul class="info">
                    <li>
                        Natura homem
                    </li>
                    <li>
                        Perfume
                    </li>
                    <li>
                        Natura
                    </li>
                    <li>
                        1
                    </li>
                    <li id="money-display">
                        100
                    </li>
                    <li id="money-display">
                        135
                    </li>
                </ul>
                <a class="edit-info" href="">Editar informações</a>
            </div><div class="product">
                <ul class="label">
                    <li>
                        Produto
                    </li>
                    <li>
                        Categoria
                    </li>
                    <li>
                        Fornecedor
                    </li>
                    <li>
                        Quantidade
                    </li>
                    <li>
                        Preço custo
                    </li>
                    <li>
                        Preço Venda
                    </li>
                </ul>
                <ul class="info">
                    <li>
                        Natura homem
                    </li>
                    <li>
                        Perfume
                    </li>
                    <li>
                        Natura
                    </li>
                    <li>
                        1
                    </li>
                    <li id="money-display">
                        100
                    </li>
                    <li id="money-display">
                        135
                    </li>
                </ul>
                <a class="edit-info" href="">Editar informações</a>
            </div><div class="product">
                <ul class="label">
                    <li>
                        Produto
                    </li>
                    <li>
                        Categoria
                    </li>
                    <li>
                        Fornecedor
                    </li>
                    <li>
                        Quantidade
                    </li>
                    <li>
                        Preço custo
                    </li>
                    <li>
                        Preço Venda
                    </li>
                </ul>
                <ul class="info">
                    <li>
                        Natura homem
                    </li>
                    <li>
                        Perfume
                    </li>
                    <li>
                        Natura
                    </li>
                    <li>
                        1
                    </li>
                    <li id="money-display">
                        100
                    </li>
                    <li id="money-display">
                        135
                    </li>
                </ul>
                <a class="edit-info" href="">Editar informações</a>
            </div>
        </div>
        <div class="pagination-list">
            <p>mostrando X de Y produtos</p>
            <a class="previous-page" href="">
                <span class="material-icons">
                    arrow_back_ios
                </span>
            </a>
            <a class="next-page" href="">
                <span class="material-icons">
                    arrow_forward_ios
                </span>
            </a>
        </div>
    </section>
</body>
</html>