div.filters{
    background-color: #f9f9f9;
    height: 70px;
    width: 100vw;
    position: relative;
    top: -5px;
    z-index: -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    gap: 20px;
}

div#sort{
    width: 70%;
    height: 70%;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-self: end;
}

div#filter{
    width: 70%;
    height: 70%;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-self: start;
}